*{margin:0;padding:0;}
#wrapper{background-color:#50B686;padding-top:5%;height:100vh;}
form {text-align: center;font-family:century gothic;color:white;
}
.icon{text-align: center;}
img{width:200px;}
fieldset{border:none;}
.green{width:100%;}
.form-control{font-family:century gothic;font-size:24px;color:white;background-color:#50B686;border:2px white solid;border-radius:40px;margin:15px;width:580px;height:95px;outline:none;padding-left:18px;}
.form-control:hover{box-shadow:1px 1px 10px 8px rgba(100%,100%,100%,0.3)}
.form-control::-webkit-input-placeholder { color: white; }
.login{background-color:#E83964;border:none;font-size:30px;cursor:pointer;}
.login:hover{box-shadow:1px 1px 10px 8px rgba(100%,100%,100%,0.5);transform: scale(1.1,1.1);transition:.3s;}
p{font-size:20px;margin-top:20px;text-align:center;font-family:century gothic;color:white;}
