*{margin:0}
.content{background-color:#50B686;
  width:100%;
  height:100vh;
  font-family:century gothic;
padding-top:5%;}

.contact{margin:0 auto;
  width:60%;}

h1{color:white;
  font-size:100px;
  font-weight:500;
  margin-top:0px;
  margin-bottom:10px;}
p{color:white;font-size:30px;}

.facebook{width:50%}

.information{float:left;
  font-size:30px;
padding-left:40%;
margin-top:60px}

.number{color:#2A3E51;}

.fa{color:white;}
.fa-twitter{padding-top:20px;padding-right:20px;}

.form{margin-left:100%;padding-top:60px}

fieldset{width:100px;border:none;margin-left:80%;}

.form-control{width:500px;
  height:40px;
  margin:5px;border:none;
  border-radius:8px;
  background-color:rgba(100%,100%, 100%, 0.4) ;}

.form-control::-webkit-input-placeholder { color: white; font-family:century gothic;font-weight:600;font-size:25px;line-height:40px;}

.textarea{height:150px}

button{width:90px;
  height:40px;
  margin:5px;
  background-color:#D8483A;
  color:white;
  box-shadow:2px 2px 5px 3px rgba(20%,20%,40%,0.5);
    border:none;
  font-family:century gothic;
  font-weight:600;
  font-size:18px;
  cursor:pointer;
}
button:hover{box-shadow:4px 4px 5px 3px rgba(100%,100%,100%,0.5)}
