body{font-family:century gothic;}
*{margin:0;padding:0;}
#wrapper{margin:0 auto;}
.green{background-color:#50B686;float:left;width:49%;height:100vh;text-align:right;line-height:100vh;color:white;font-size:240px;letter-spacing:15px;}
.logo{float:left;line-height:100vh;height:100vh;}
img{width:230px;}
.white{background-color:white;float:left;width:49%;height:100vh;line-height:100vh;color:#50B686;font-size:240px;letter-spacing:3px;margin-left:25px;}

.button{position:absolute;
  top: 180px;
  left:60%;
  width: 420px;
  height: 200px;}
.button1{font-family:century gothic;width:170px;height:40px;color:white;background-color:#50B686;border:none;box-shadow:2px 2px 5px 3px rgba(20%,20%,40%,0.5);border-radius:3px;letter-spacing:1px;font-size:20px;}

.button2{font-family:century gothic;width:170px;height:40px;color:#2CA798;background-color:white;border:2px #50B686 solid;border-radius:3px;box-shadow:inset 2px 2px 8px rgba(20%,20%,40%,0.5),2px 2px 10px rgba(20%,20%,40%,0.5);font-size:20px;}
